table {
        border-spacing: 0;
        width: 100%;
        table-layout: fixed;
}

td {
        border: .2em solid black;
        text-align: center;
}

td.head {
        text-align: center;
        background-color: darkgray;
}

td.id {
        width: 7.5%;
}

td.salary {
        width: 7.5%;
}

td.delete {
        width: 5%;
}

.delete-btn {
        width: auto;
}

div#form {
        float: left;
        height: 10vh;
}

div#table {
        position: absolute;
        border: .1em solid black;
        float: center;
        width: 99%;
        height: 75vh;
        top: 17.5vh;
        bottom: 7.5vh;
        overflow-y: scroll;
}

div#cost {
        height: 3vh;
        position:absolute;
        float: right;
        bottom: 5vh;
}

.make-it-red {
        background-color: red;
}