table {
        border-spacing: 0;
        width: 100%;
        table-layout: fixed;
}

td {
        border: .2em solid black;
        text-align: center;
}

td.head {
        text-align: center;
        background-color: darkgray;
}

td.id {
        width: 7.5%;
}

td.salary {
        width: 7.5%;
}

td.delete {
        width: 5%;
}

.delete-btn {
        width: auto;
}

div#form {
        float: left;
}

div#table {
        float: center;
        width: 100%;
}

div#cost {
        position:absolute;
        float: right;
        bottom:0;
}